etc/sourcepoint_cmp_config.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="config">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="sp_account_id" type="sp_account_idType" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element name="sp_account_ppp" type="sp_account_pppType" maxOccurs="unbounded" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType type="sp_account_idType">
		<xs:sequence>
			<xs:element name="sp_account_id" type="xs:string"/>
			<xs:element name="sp_account_ppp" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
